.wolfslider {
		position: relative;
		margin-top: 30px;
		height: 600px;
		display: block;
		margin: 0 auto;
		transition: all 1s;
}

.warpper {
	display: block;
	position: absolute;
	overflow: hidden;
		width:100%;
		height: 100%;
}

.slide {
		position: absolute;
		display: block;
		overflow: hidden;
		width:100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 1;
}
/*
.slide:nth-child(1) {
	transform: translate3d(-100%, 0, 0);
	transition: all 1s;
	z-index: 0;
}
.slide:nth-child(2) {
	transform: translate3d(0, 0, 0);
	transition: all 1s;
	z-index: 50;
}
.slide:nth-child(3) {
	transform: translate3d(100%, 0, 0);
	transition: all 1s;
	z-index: 100;
}
*/

.slide > img {
		display: block;
		width: 50px;
		height: auto;
		background-size: cover;
}

.caption {
		display: block;
		position: absolute;
		color: white;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 4rem;
		margin: auto;
		font-size: 4rem;
		font-weight: 300;
		text-align: center;
}

.next_b {
		position: absolute;
		display: block;
		right: 0px;
		bottom: 0;
		width:50px;
		height:50px;
		z-index: 100;
		background-color: deeppink;
}

.prev_b {
		position: absolute;
		display: block;
		left: 0px;
		bottom: 0;
		width:50px;
		height:50px;
		z-index: 100;
		background-color: deeppink;
}

.slide.active > .caption {
		animation: kavan1 1s;
}

.slide.active > img {
		animation: kavan 1s;
}

@keyframes kavan {
	0% {
			transform: scale(0);
	}
	100% {
			transform: scale(1);
	}
}

@keyframes kavan1 {
	0% {
			transform: translateY(200px);
			transform: rotate(180deg);
	}
	100% {
			transform: translateY(0px);
			transform: rotate(0deg);
	}
}
