.wolfslider {
		position: relative;
		margin-top: 30px;
		height: 600px;
		display: block;
		margin: 0 auto;
		transition: all 1s;
		font-family: 'Montserrat', sans-serif;
}

.warpper {
	display: block;
	position: absolute;
	overflow: hidden;
		width:100%;
		height: 100%;
}

.slide {
		position: absolute;
		display: block;
		overflow: hidden;
		width:100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 1;
}

.next_b {
		position: absolute;
		display: block;
		right: 0px;
		bottom: 0;
		z-index: 100;
}

.prev_b {
		position: absolute;
		display: block;
		left: 0px;
		bottom: 0;
		z-index: 100;
}

.slide-btn {
    width: 25px;
		padding: 8px;
		height: 25px;
		margin: 10px;
    line-height: 25px;
    text-align: center;
    border: #676767 2px solid;
    border-radius: 25px;
		cursor: default;
}

.slide-btn p {
		color:#676767;
		font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.slide .title {
	display: block;
	margin: 0 100px;
	margin-top: 250px;
	text-align: center;
	font-size: 96px;
	animation-duration: 1s;
}
.slide .categories {
	display: block;
	margin: 0 100px;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	animation-duration: 1.5s;
}
